{% extends "page/base.html" %}
{% block content %}

<p>{{ single_todo_list }}</p>




<ul>

    {% for item in items_to_that_list %}

    <li>

<form action="{% url 'todolist:single_todo_list' single_todo_list.id %}"  method="post">
    {% csrf_token %}

  <input type="checkbox" name="item_id" id="{{ item.id }}" value="{{ item.id }}"> {{ item.name }}<br>

        <p>{{ item.description }} ,<br>
            Has this item been completed :  {{ item.done }}, <br>
            Due date: {{ item.due_date }}, <br>
            Days Left: {{ item.days_left }} days
        </p>

    </li>

    <input type="submit" value="Submit">

    {% empty %}

    <li>
        There are no items for this List
    </li>

    {% endfor %}



</form>

</ul>

<p>
    <a href="{% url 'todolist:new_entry' single_todo_list.id %}">Add a new entry</a>
</p>






{% endblock content %}
