{% extends "page/base.html" %}
{% block content %}


<div class="container">
    <br>
    <br>
    <h4>The TODO lists: </h4>
    <div class="container">

        <table class="table table-striped">
            <thead>

    <ul>

        {% for todo_list in complete_list %}

        <li><a href="{% url 'todolist:single_todo_list' todo_list.id %}">{{ todo_list.title }}</a></li>

        {% empty %}

            <li>No topics have been added yet.</li>

        {% endfor %}


    </ul>
            </thead>
        </table>

    </div>
    <div class="container">
     <a href="{% url 'todolist:new_topic' %}">Add a new Todo Topic on the List</a>
    </div>
</div>
{% endblock content %}